<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S_No</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger" *ngFor="let item of dishes ">

      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <!-- <button type="button" value="+" (click)="myFunction(this.value)" class="btn btn-default btn-sm"> -->
      <input type="button" value="+" (click)="myFunc('+',item.id)">
      <p>{{ item.quantity }}</p>
      <input type="button" value="-" (click)="myFunc('-',item.id)">
      <!-- <div *ngIf="show">
            <button type="button"  class="btn btn-warning">Add</button>
            </div> -->

    </tr>
  </tbody>
</table>