.alert{
    border: 3px solid green;
    float: right;
    width: 200px;
}
.thead-dark{
    // width:250px !important;
    margin-right:0px;
    max-width: 250px;
}
.detail{
    width:100px;
}
.form-control{
    width: 200px;
}
.container{
    background-image: url("https://wallpaperplay.com/walls/full/3/c/8/52790.jpg");
    background-repeat: no-repeat;
    background-size: 1300px;
}
.table-row{
    color: black;
}